# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# IDE settings
.vscode/
.idea/

# macOS
.DS_Store

# Environment variables
.env

# Log files
*.log

#Allowing Git to track the output directory for the final candidate JSON files.
