annotated-types==0.7.0
attrs==26.1.0
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==49.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
numpy==2.0.2
pandas==2.3.3
pdfminer.six==20251107
pdfplumber==0.11.8
phonenumbers==9.0.33
pillow==11.3.0
pycparser==2.23
pydantic==2.13.4
pydantic_core==2.46.4
pypdfium2==5.11.0
python-dateutil==2.9.0.post0
pytz==2026.2
RapidFuzz==3.13.0
referencing==0.36.2
rpds-py==0.27.1
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
